<footer class="container copyright-view">
    <div class="col-md-4 col-md-offset-1 col-md-push-3">
        <div class="row">
            <p class="text-center">
                <a href="http://sgondemand.com/" target="_blank">
                    <strong>{{'Powered by SG OnDemand' | xlat}}</strong>
                </a>
            </p>
            <p class="text-center">
                {{'Copyright' | xlat}} © {{year}}<br /> The Stevens Group, LLC <br>{{'All Rights Reserved' | xlat}}.<br />
                <termsmodal></termsmodal>
            </p>
        </div>
    </div>
</footer>
